@model IEnumerable<Models.Ef.PRODUCT>

@{
    ViewBag.Title = "ProductList";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link href="~/Areas/Admin/assets/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="~/Areas/Admin/assets/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="~/Areas/Admin/assets/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />


<div class="card-body">
    <h1 class="header-title">Product List</h1>
    <p class="text-muted">
        @Html.ActionLink("Create New", "CreateProduct")
    </p>

    <table class="table table-bordered" id="product-table">
        <thead>
            <tr>
                <th>
                    Image
                </th>
                <th class="text-center">
                    ID
                </th>
                <th class="text-center">
                    Name
                </th>
                <th class="text-center">
                    Price
                </th>
                <th class="text-center">
                    Stock
                </th>
                <th class="text-center">
                    Category
                </th>
                <th class="text-center">
                    Status
                </th>
                <th class="text-center">
                    Created Date
                </th>
                <th class="text-center">
                    Options
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <form action="/Admin/Product/EditProduct/@item.ProductID">
                        <td>
                            <img src="@item.ShowImage_1" style="max-height: 50px;" />
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.ProductID)
                        </td>
                        <td class="text-center">
                            <a href="@Url.Action("ProductDetail", "Product", new { id = item.ProductID })">
                                @Html.DisplayFor(modelItem => item.ProductName)
                            </a>
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.ProductPrice)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.ProductStock)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.CategoryID)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.ProductStatus)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.CreatedDate)
                        </td>
                        <td class="text-center">

                            <button class="btn btn-sm btn-primary"
                                    type="submit" value="Edit"
                                    id="edit-@item.ProductID"
                                    onclick="return EditItem('@item.ProductID')">
                                <i class="mdi mdi-border-color"></i>
                            </button>
                            <button class="btn btn-sm btn-danger"
                                    type="button" value="Delete"
                                    id="delete-@item.ProductID"
                                    onclick="return DeleteItem('@item.ProductID')">
                                <i class="mdi mdi-delete"></i>
                            </button>
                        </td>
                    </form>
                </tr>
            }
        </tbody>
    </table>

</div>

@section Scripts{
    <script src="~/Areas/Admin/assets/js/sweetalert.min.js"></script>
    <script src="~/Areas/Admin/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Areas/Admin/assets/plugins/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/Areas/Admin/assets/plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="~/Areas/Admin/assets/plugins/datatables/responsive.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $(function () {
                $('#product-table').DataTable()
            });
        });
        function DeleteItem(id) {
            swal({
                title: `DELETE order with id: ${id}?`,
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                       $.ajax({
                            type: "delete",
                            url: `@Url.Action("DeleteProduct", "Product")`,
                            data: { "ProductID": id },
                            success: function (response) {
                            if (response.Success = 1) {
                                 swal("Deleted!", "", "success")
                                     .then((value) => {
                                         location.reload();
                                     });
                               }
                            }
                         });
                    }
                });
        };
    </script>
}